img.cart{
    width: 30px;
  }
  
  img.incart{
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
  }
  
  .mycart_box{
  
    color: #4c4c4c ;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    padding: 24px 8px;
    font-size: 1.1em;
    background-color: #fefefe ;
    
  }
  
  .footer_design{
    background-color: #07728a ;;
    text-align: center;
    color: #fefefe ;
    padding: 60px;
  }
  
  .buy-btn{
    margin: 40px auto 60px;
    width: 200px;
    display: block;
    background-color: #ff5c73 ;
  }
  
  .ball{
    position: absolute;
  }
 
  .pagenate{
    width: 200px;margin: 20px auto;
  }

  /* WebKit ブラウザで、input type="number" のスピンボタンを非表示にする。 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox で、input type="number" のスピンボタンを非表示にする。また、入力欄の値表示を中央寄せにし、高さをボタンのサイズに合わせる。 */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  height: 44px;
}

/*ボタンのサイズを 44 × 44 CSS ピクセルにする。*/
button.btn-number {
  width: 44px;
  height: 44px;
}

/* ステッパーコンポーネントの横幅を指定する。 */
div.input-group {
  width: 160px;
}